<main>
    <div>
        <h2>Change Password</h2>
        <hr>
        <div>
            <form action="/identity/changePassword/<%=use" method="POST">
                <input type="password" name="newPassword" placeholder="New Password" required>
                <input type="password" name="confirmNewPasswod" placeholder="Confirm Password" required>
            </form>
        </div>
    </div>
</main>