<main>
    <div>
        <h2>Change Password</h2>
        <hr>
        <div>
            <form action="/identity/changePassword/<%=user.email%>" method="POST">
                <input type="password" name="newPassword" placeholder="New Password" required>
                <input type="password" name="confirmNewPassword" placeholder="Confirm Password" required>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</main>