<link rel="stylesheet" href="/css/home_style.css">

<h1>Codeial / <%=title%>
</h1>
<p>Email: <%=user.email%>
</p>
<p>Name: <%=user.name%>
        <form action="/users/delete" method="get">
            <button type="submit">Sign out</button>
        </form>
</p>