<main>
    <div id="email-box">
        <h2>Find you Account</h2>
        <hr>
        <div id="forgot-email">
            <span>Please enter you email address to search for your account.</span>
            <form action="/identity/reset_password" method="post">
                <input type="email" name="email" placeholder="Email address" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</main>