<link rel="stylesheet" href="/css/signIn_style.css">
<div id="signup_form">
    <h1>Welcome Back</h1>
    <p>Welcome back! Please enter your details</p>
    <form action="/users/create-session" id="form">
        <label for="email">Email*</label>
        <br>
        <input type="email" name="Email" id="email" placeholder="Enter you email">
        <br>
        <label for="password">Password*</label>
        <br>
        <input type="password" name="Password" id="password" placeholder="........">
        <br>
        <span id="form_span">Forgot password</span>
        <br>
        <button type="submit" class="form_btn">Sign In</button>
        <br>
        <button type="submit" class="form_btn" id="btn_text"><img src="/images/icons8-google-96.png" alt="Google logo">
            <span>Sign up with
                Google</span></button>
    </form>
</div>