<div id="signup_form">
    <h1>Sign Up Page</h1>
    <form action="#" id="form">
        <label for="name">Name*</label>
        <br>
        <input type="text" id="name" placeholder="Enter your name">
        <br>
        <label for="email">Email*</label>
        <br>
        <input type="email" name="Email" id="email" placeholder="Enter you email">
        <br>
        <label for="password">Password*</label>
        <br>
        <input type="password" name="Password" id="password" placeholder="Create a password">
        <br>
        <span id="form_span">Must be at least 8 characters.</span>
        <br>
        <button type="submit" class="form_btn">Create account</button>
        <br>
        <button type="submit" class="form_btn"><img src="/images/icons8-google-96.png" alt="Google logo"> Sign up with
            Google</button>
    </form>
</div>