@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #7f56da;
}

#footer {
  position: relative;
  top: 2.5rem;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: gray;
  height: 3rem;
  padding-top: 0.8rem;
}

#signup_form {
  margin: 0 auto;
  width: 32rem;
  height: 33rem;
  background-color: #ffffff;
  padding-left: 5rem;
}

#signup_form h1 {
  padding: 2rem 0;
}

#signup_form p {
  padding: 2rem 0;
  font-size: 0.9rem;
  margin-top: -3.3rem;
}

#form input {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1.5px solid gray;
}

#form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

#form input[type="password"]::placeholder {
  font-size: 3rem;
}

#form_span {
  position: relative;
  top: -1rem;
  margin-left: 13rem;
  font-size: 0.8rem;
  color: #7f56da;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #7f56da;
}

.form_btn {
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1.5px solid gray;
  background-color: #7f56da;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 4rem;
}

.form_btn2 {
  width: 20rem;
  height: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid gray;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.form_btn2 a {
  position: relative;
  top: -0.8rem;
  left: 6.5rem;
  text-decoration: none;
  color: #7f56da;
}

#btn_text span {
  position: relative;
  top: -0.4rem;
}