@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #7f56da;
}

#signup_form {
  margin: 0 auto;
  width: 32rem;
  height: 33rem;
  background-color: #ffffff;
  padding-left: 5rem;
}

#signup_form h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#form input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1.5px solid gray;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

#form input::placeholder {
  font-family: "Poppins", sans-serif;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

#form input:focus {
  font-family: "Poppins", sans-serif;
  padding-left: 0.5rem;
  font-size: 0.9rem;
}

#form_span {
  position: relative;
  top: -1rem;
  font-size: 0.8rem;
}

.form_btn {
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1.5px solid gray;
  background-color: #7f56da;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 1rem;
  cursor: pointer;
}

.form_btn img {
  width: 1.9rem;
  padding-right: 0.5rem;
}

#btn_text span {
  position: relative;
  top: -0.4rem;
}
